@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html{
  scroll-behavior: smooth;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

h5{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}


p{
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 1.25em;
}

a{
  font-family: 'Raleway', sans-serif;
}

.jumbotron{
  background-image: url("img/jumbo.jpg");
  background-size: cover;
  padding: 15em;
}

.social-padding{
  padding: .5em;
}

.card:hover{
  box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition-duration: .4s;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}